:root {
	--dark_color1: #161821;
	--dark_color2: #1E2132;/* #1E2132; */
	--dark_color3: #161821;
	--dark_color4: #2B3155;

	--word_color1: #9059ff;
	--word_color2: #adabb9;
	--word_color3: #e1e0e6;

	--light_color1: #e1e0e6;
	--light_color2: #adabb9;
	--light_color3: #9795a3;
	--light_color4: #878492;

	--other_color1: #332e56;
	--other_color2: #4b4757;
	--other_color3: #33313c;
}
/*================ LIGHT THEME ================*/
@media {
:root:not([style]),
:root[style*="--lwt-accent-color:rgb(227, 228, 230);"] {
	--base_color1: var(--light_color1);
	--base_color2: var(--light_color2);
	--base_color3: var(--light_color3);
	--base_color4: var(--light_color4);

	--outer_color1: var(--other_color1);
	--outer_color2: var(--other_color2);
	--outer_color3: var(--other_color3);

	--orbit_color: var(--dark_color3);
}
}
/*================ DARK THEME ================*/
@media {
:root[style*="--lwt-accent-color:rgb(12, 12, 13);"] {
	--base_color1: var(--dark_color1);
	--base_color2: var(--dark_color2);
	--base_color3: var(--dark_color3);
	--base_color4: var(--dark_color4);

	--outer_color1: var(--word_color1);
	--outer_color2: var(--word_color2);
	--outer_color3: var(--word_color3);

	--orbit_color: var(--light_color3);
}
}

/*============== PRIVATE THEME ==============*/
@media {
:root[privatebrowsingmode=temporary] {
	--base_color1: #291D4F;
	--base_color2: #3C3376;
	--base_color3: #4F499D;
	--base_color4: #625FC4;

	--outer_color1: #E571F0;
	--outer_color2: #D9CAF1;
	--outer_color3: #FFF5FF;

	--orbit_color: #B39FE3;
}
}
